*{
    box-sizing: content-box;
        
}


body{
    
    overflow-x:auto;
    background: rgb(180,58,58);
background: linear-gradient(90deg, rgba(180,58,58,1) 0%, rgba(252,176,69,1) 0%);
    
}

header{
    
    display:flex;
    height: 60px;
    justify-content: space-between;
    height: 180px;
    border-radius: 1em;
    margin-top: 35px;
    padding-right: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    border: 3px solid white;
    background: rgb(252,176,69);
background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(0,242,236,1) 0%, rgba(180,58,58,1) 70%);
    

          
}

img{
    
    height: 140px;
    border-radius: 3em;
    margin-left: 25px;
    margin-top: 18px;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    
    
    
    }

li{
    display: inline-flex;
    margin-right: 30px;
    text-decoration:none;
    justify-content: center;
    align-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    margin-top: 50px;
    height: 8px;
    width: 106px;
    
           
             
}

li :hover{
    cursor: pointer;
    color:red;    
   
}

.special{
    text-decoration: none;
    color: rgb(70,rg 70, 94);
    border-radius: 3em;
    background-color: lightsalmon;
    padding: 20px;
    
}
.special1{
    text-decoration: none;
    color: rgb(70,rg 70, 94);
}

.special2{
    text-decoration: none;
    color:rgb(70,rg 70, 94);
}

.special3{
    text-decoration: none;
    color:rgb(70,rg 70, 94);
}

.logo_escuela{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1em;
    margin-left: 1090px;
    margin-top: -230px;
    height: 280px;
    width: 280px;
    border: orangered 5px solid;
}

h3{
    display: flex;
    align-content: column;
    justify-content: center;
    margin-left: -420px;
    margin-top: 180px;
    font-size: 250%;

}

.mision{
    display: flex;
    margin-left: 130px;
    height: 10px;
    font-size: 140%;
}

.cursos{
    border-radius: 1em;
    height: 50px;
    width: 120px;
    cursor: pointer;
    margin-left: 480px;    
    border: 3px solid black;
    color: red;
    font-size: 130%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.dias{
    border-radius: 1em;
    height: 50px;
    width: 120px;
    cursor: pointer;
    margin-left: 80px;
    margin-top:28px;
    border: 3px solid black;    
    color:red;
    font-size: 110%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


.section2{
    display: flex;
    justify-content: center;
    font-size: 140%;
    margin-top: 180px;
    font-size: 180%;

}

.ventajas{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 10%;
    font-weight: 600;
}



.div_padre1{
    position:relative;
    justify-content: right;
    border: 6px black solid;
    display: block;
    width: 380px;
    height: 350px;
    margin-top: 200px;
    margin-left: 250px;
    margin-top: 300px;
    border-radius: 1em;
    background-color: azure;
    box-shadow: 10px 5px 50px  blue;
    

}

.div_padre2{
    position:relative;
    justify-content: right;
    border: 6px black solid;
    display: block;
    width: 380px;
    height: 350px;
    margin-top: -370px;
    margin-left: 900px;
    border-radius: 1em;
    background-color: blanchedalmond;
    box-shadow: 10px 5px 50px  yellow;
    
}

.on_line{
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 30%;
    border-radius: 1em;
}

.biblioteca{
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 30%;
    border-radius: 1em;
}

.v1{
    position: relative;
    margin-left: 12px;
    font-weight: bold;
    color: purple;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    
}

.v2{
    position: relative;
    margin-left: 12px;
    font-weight: bold;
    color: purple;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    

}

.info{
    
    align-content: center;
    justify-content: baseline;
    border: 3px red solid;
    border-radius: 2em;
    height: 150px;
    background-color: bisque;
}

.nombre{
    position: relative;
    margin-top: 70px;
    margin-left: 25px;
    font-size: x-large;
}

.dir{
    position: relative;
    margin-top: -185px;
    margin-left: 250px;
    font-size: x-large;
    
    
}

.direccion{
    position: relative;
    margin-top: 90px;
    margin-left: 120px;
    height: 60px;
    cursor: pointer;
    
    
}


.dir :hover{
    color: white;
    cursor: pointer;
    background-color: azure;
}

.mail{
    position: relative;
    margin-top: -80px;
    margin-left: 550px;
    height: 60px;
    font-size: x-large;

}

.email{
    position: relative;
    margin-top: -25px;
    margin-left: 210px;
    height: 60px;
    border-radius: 0em;
    cursor: pointer;

}

.mail :hover{
    color: white;
    background-color: azure;
}



.tel{
    position: relative;
    margin-top: -85px;
    
    height: 60px;
    border-radius: 0em;
    font-size: x-large;

}

.telefono{
    position: relative;
    margin-top: -1625px;
    margin-left: 1180px;
    height: 60px;
    border-radius: 0em;

}

.tel :hover{
    color: white;
    background-color: azure;
}


.derechos{
    background-color: lightseagreen;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    height: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-content: space-between;
    justify-content: center;
    margin-left: 0%;
}

.todos{
    align-content: center;
    justify-content: center;
    margin-left: 40%;
    font-weight:900 bolder;
    
}


