
*{
    box-sizing: content-box;
}

body{
    background-color: rgb(203, 220, 240);
    
    
}

header{
    background-color: rgba(236, 240, 222, 0.952);
    display: flex;
    height: 60px;
    justify-content: space-between;
    height: 180px;
    border-radius: 1em;
    margin-top: 45px;
    padding-right: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
          
}

img{
    
    height: 140px;
    border-radius: 3em;
    margin-left: 35px;
    margin-top: 18px;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    
    
    }

li{
    display: inline-flex;
    margin-right: 30px;
    text-decoration:none;
    justify-content: center;
    align-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    margin-top: 3px;
    height: 8px;
    width: 106px;
    
           
             
}

li :hover{
    cursor: pointer;
    color:red;    
   
}

.special{
    text-decoration: none;
    color: rgb(70,rg 70, 94);
    border-radius: 3em;
    background-color: lightsalmon;
    padding: 20px;
    
}
.special1{
    text-decoration: none;
    color: rgb(70,rg 70, 94);
}

.special2{
    text-decoration: none;
    color:rgb(70,rg 70, 94);
}

.special3{
    text-decoration: none;
    color:rgb(70,rg 70, 94);
}

.logo_escuela{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1em;
    margin-left: 1090px;
    margin-top: -230px;
    height: 280px;
    width: 280px;
}

h3{
    display: flex;
    align-content: column;
    justify-content: center;
    margin-left: -480px;
    margin-top: 180px;
    font-size: 250%;

}

.mision{
    display: flex;
    margin-left: 180px;
    height: 10px;
    font-size: 120%;
}

.cursos{
    border-radius: 1em;
    height: 50px;
    width: 120px;
    cursor: pointer;
    margin-left: 480px;    
    border: 3px solid black;
    color: red;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.dias{
    border-radius: 1em;
    height: 50px;
    width: 120px;
    cursor: pointer;
    margin-left: 80px;
    margin-top:28px;
    border: 3px solid black;    
    color:red;
    font-size: 90%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


.section2{
    display: flex;
    justify-content: center;
    font-size: 140%;
    margin-top: 280px;
    font-size: 150%;


}





