*{
    box-sizing: content-box;

}


body{

    background: rgb(252,176,69);
background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(131,58,180,1) 0%, rgba(0,242,236,1) 60%);
    
    
}

header{
    ackground-color: rgba(236, 240, 222, 0.952);
    display: flex;
    height: 60px;
    justify-content: space-between;
    height: 180px;
    border-radius: 1em;
    margin-top: 35px;
    padding-right: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    border: 3px solid white;
    background: rgb(252,176,69);
background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(0,242,236,1) 0%, rgba(180,58,58,1) 70%);
    

          
}

img{
    
    height: 140px;
    border-radius: 3em;
    margin-left: 25px;
    margin-top: 18px;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    
    
    
    }

li{
    display: inline-flex;
    margin-right: 30px;
    text-decoration:none;
    justify-content: center;
    align-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    margin-top: 50px;
    height: 8px;
    width: 106px;
    
           
             
}

li :hover{
    cursor: pointer;
    color:red;    
   
}

.special{
    text-decoration: none;
    color: rgb(70,rg 70, 94);
    border-radius: 3em;
    background-color: lightsalmon;
    padding: 20px;
    
}
.special1{
    text-decoration: none;
    color: rgb(70,rg 70, 94);
}

.special2{
    text-decoration: none;
    color:rgb(70,rg 70, 94);
}

.special3{
    text-decoration: none;
    color:rgb(70,rg 70, 94);
}

.logo_escuela{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1em;
    margin-left: 1290px;
    margin-top: -230px;
    height: 280px;
    width: 280px;
    border: orangered 5px solid;
}

h3{
    display: flex;
    align-content: column;
    justify-content: center;
    margin-left: -720px;
    margin-top: 180px;
    font-size: 250%;

}

.mision{
    display: flex;
    margin-left: 330px;
    height: 10px;
    font-size: 140%;
}

.cursos{
    border-radius: 1em;
    height: 50px;
    width: 120px;
    cursor: pointer;
    margin-left: 480px;    
    border: 3px solid black;
    color: red;
    font-size: 130%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.dias{
    border-radius: 1em;
    height: 50px;
    width: 120px;
    cursor: pointer;
    margin-left: 80px;
    margin-top:28px;
    border: 3px solid black;    
    color:red;
    font-size: 110%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


.section2{
    display: flex;
    justify-content: center;
    font-size: 140%;
    margin-top: 180px;
    font-size: 180%;

}

.ventajas{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 10%;
    font-weight: 600;
}



.div_padre1{
    position:relative;
    justify-content: right;
    border: 6px black solid;
    display: block;
    width: 380px;
    height: 350px;
    margin-top: 200px;
    margin-left: 600px;
    margin-top: 300px;
    border-radius: 1em;
    background-color: azure;
    box-shadow: 10px 5px 50px  blue;
    

}

.div_padre2{
    position:relative;
    justify-content: right;
    border: 6px black solid;
    display: block;
    width: 380px;
    height: 350px;
    margin-top: -370px;
    margin-left: 1300px;
    border-radius: 1em;
    background-color: blanchedalmond;
    box-shadow: 10px 5px 50px  yellow;
    
}

.on_line{
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 30%;
    border-radius: 1em;
}

.biblioteca{
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 30%;
    border-radius: 1em;
}

.v1{
    position: relative;
    margin-left: 12px;
    font-weight: bold;
    color: purple;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    
}

.v2{
    position: relative;
    margin-left: 12px;
    font-weight: bold;
    color: purple;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    

}


